In [1]:
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/corazzon/boostcourse-ds-510/master/data/medical_201909.csv.zip", low_memory=False)
df.shape

(91335, 39)

# 📌 Q1. 전국 시도별 약국수를 구해주세요!

상권업종소분류명이 약국인 것을 찾아 빈도수를 구해주세요. 이 때, value_counts, groupby, pivot_table 등 다양한 집계 방법을 통해 구해볼 수 있습니다. 각자 구하기 편한 방법을 통해 빈도수를 구합니다.
다음의 결과가 나오도록 구합니다.

In [3]:
df.columns

Index(['상가업소번호', '상호명', '지점명', '상권업종대분류코드', '상권업종대분류명', '상권업종중분류코드',
       '상권업종중분류명', '상권업종소분류코드', '상권업종소분류명', '표준산업분류코드', '표준산업분류명', '시도코드',
       '시도명', '시군구코드', '시군구명', '행정동코드', '행정동명', '법정동코드', '법정동명', '지번코드',
       '대지구분코드', '대지구분명', '지번본번지', '지번부번지', '지번주소', '도로명코드', '도로명', '건물본번지',
       '건물부번지', '건물관리번호', '건물명', '도로명주소', '구우편번호', '신우편번호', '동정보', '층정보',
       '호정보', '경도', '위도'],
      dtype='object')

In [4]:
df["상권업종소분류명"]=="약국"

0        False
1        False
2        False
3        False
4         True
         ...
91330     True
91331    False
91332    False
91333    False
91334    False
Name: 상권업종소분류명, Length: 91335, dtype: bool

In [5]:
med = df[df["상권업종소분류명"]=="약국"]
med.head(2)

,상가업소번호,상호명,지점명,상권업종대분류코드,상권업종대분류명,상권업종중분류코드,상권업종중분류명,상권업종소분류코드,상권업종소분류명,표준산업분류코드,...,건물관리번호,건물명,도로명주소,구우편번호,신우편번호,동정보,층정보,호정보,경도,위도
4,20364049,더블유스토어수지점,수지점,S,의료,S02,약국/한약방,S02A01,약국,G47811,...,4146510100107120002026238,NaN,경기도 용인시 수지구 문정로 32,448170.0,16837.0,NaN,1,NaN,127.095522,37.323528
10,21057519,민생약국,NaN,S,의료,S02,약국/한약방,S02A01,약국,G47811,...,4889046030200780002048274,NaN,경상남도 합천군 용주면 월평길 149-35,678912.0,50212.0,NaN,NaN,NaN,128.118615,35.575962

In [6]:
med["시도명"].value_counts()

경기도        4510
서울특별시      3579
부산광역시      1130
경상남도       1017
인천광역시      1002
경상북도        915
대구광역시       870
전라북도        862
충청남도        830
전라남도        811
강원도         729
광주광역시       691
충청북도        648
대전광역시       603
울산광역시       362
제주특별자치도     226
세종특별자치시      99
Name: 시도명, dtype: int64

# 📌 Q2. 여러분은 반려동물과 관련된 사업을 하는 스타트업에 취업을 하여 상권분석을 해달라는 요청을 받았습니다. 

병원이나 약국은 인구나 유동인구가 많은 지역에 주로 위치하고 있습니다. 그렇다면 동물병원도 병원이나 약국이 많은 곳에 더 많이 있을까요?

* 빈도수를 구하고 시각화 하여 동물병원이 어느 지역에 많은지 분석해 주세요!
* 다음의 결과가 나오도록 구합니다.

In [7]:
pet=df[df["상권업종소분류명"]=="동물병원"]
pet

,상가업소번호,상호명,지점명,상권업종대분류코드,상권업종대분류명,상권업종중분류코드,상권업종중분류명,상권업종소분류코드,상권업종소분류명,표준산업분류코드,...,건물관리번호,건물명,도로명주소,구우편번호,신우편번호,동정보,층정보,호정보,경도,위도
5,20809147,행신동물병원,NaN,S,의료,S04,수의업,S04A02,동물병원,M73100,...,4128112800106470014011094,NaN,경기도 고양시 덕양구 행신로 147,412220.0,10517.0,NaN,1,NaN,126.831632,37.619309
12,21145534,목포동물병원,NaN,S,의료,S04,수의업,S04A02,동물병원,M73100,...,4611010200110500078000665,NaN,전라남도 목포시 영산로 200-1,530806.0,58708.0,NaN,1,NaN,126.390244,34.799439
20,21085006,제일가축병원,NaN,S,의료,S04,수의업,S04A02,동물병원,M73100,...,4136037021102040012005537,NaN,경기도 남양주시 퇴계원면 경춘북로558번길 7-7,472821.0,12126.0,NaN,1,NaN,127.146600,37.647633
25,21055738,축협동물병원,NaN,S,의료,S04,수의업,S04A02,동물병원,M73100,...,4671025025103420000000164,NaN,전라남도 담양군 담양읍 삼거리길 8-6,517806.0,57347.0,NaN,1,NaN,126.981972,35.310645
30,20970595,금광종합동물병원,NaN,S,의료,S04,수의업,S04A02,동물병원,M73100,...,4113110400100970003039318,NaN,경기도 성남시 수정구 산성대로 431,461801.0,13144.0,NaN,1,NaN,127.158972,37.450472
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
91172,16366207,동물에반하다동물병원,NaN,S,의료,S04,수의업,S04A02,동물병원,M73100,...,2826010400109490004000001,NaN,인천광역시 서구 크리스탈로102번길 22,NaN,22760.0,NaN,1,102,126.639196,37.533858
91174,16365867,반창꼬동물병원,NaN,S,의료,S04,수의업,S04A02,동물병원,M73100,...,4163011400110490001000001,NaN,경기도 양주시 옥정로 151,482130.0,11479.0,NaN,NaN,302,127.090349,37.815362
91213,16131045,서진동물병원,NaN,S,의료,S04,수의업,S04A02,동물병원,M73100,...,4513014400105010000028021,현대아파트,전라북도 군산시 나운안2길 8,573778.0,54135.0,102,NaN,905,126.705522,35.967977
91242,16109069,아크리스동물병원,NaN,S,의료,S04,수의업,S04A02,동물병원,M73100,...,1168010500101600021015764,동화빌딩,서울특별시 강남구 봉은사로104길 10,135881.0,6170.0,NaN,3,NaN,127.061898,37.513707
91299,16108691,더블유동물병원,NaN,S,의료,S04,수의업,S04A02,동물병원,M73100,...,1162010100106220074027662,NaN,서울특별시 관악구 은천로 85,151826.0,8715.0,NaN,NaN,NaN,126.944700,37.487048

In [8]:
pet["시도명"].value_counts()

경기도        992
서울특별시      557
인천광역시      193
경상북도       165
경상남도       161
부산광역시      153
충청남도       131
대구광역시      119
전라북도       111
강원도         85
대전광역시       77
전라남도        77
충청북도        75
광주광역시       71
울산광역시       61
제주특별자치도     46
세종특별자치시     13
Name: 시도명, dtype: int64

# 📌Q3. 강남지역에는 다른 지역에 비해 피부과나 성형외과가 많아 보입니다. 실제로 해당 지역에 피부과나 성형외과가 다른 지역에 비해 전체 병원 수 중에서 어느 정도의 비율을 차지하고 있는지 알아보겠습니다.

* 서울에 소재한 병원 중 상권업종소분류명에 "피부" 나 "성형"이 들어간 분류명을 찾아 구해주세요!
* 피부과 성형외과 수 / 전체병원 수 로 비율을 구해주세요!
* 비율이 높은 순서대로 정렬되게 구해주세요!
* 수업에서 사용한 같은 CSV 파일을 사용하며 다음의 결과가 나오도록 구합니다.
* 소숫점 두 번째짜리까지 출력하는 방법은 pandas round 로 검색해서 사용법을 알아보세요!

In [9]:
df["상권업종소분류명"].values

array(['산부인과', '내과/외과', '신경외과', ..., '노인/치매병원', '한의원', '안과의원'],
      dtype=object)